body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

/* body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 13px;
  color: #333;
}

.pleaselogin {
  color: red;
  font-size: x-large;
}

p {
  padding: 10px;
}

.ps {
  border: 1px solid black;
}

.form-input {
  border: 1px solid black;
}

#black {
  color: white;
}

.header {
  width: 100%;
  height: 200px;
  background: #ff6633;
  border-radius: 10px;
  border: 1px solid #eb521f;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 5px;
}
.search {
  width: 350px;
  text-align: center;
  height: 30px;
  border-radius: 500px;
}
.allco {
  border: 1px solid black;
  background: #fff957;
}

.logout {
  padding: 10px;
  background-color: #89c403;
  border-radius: 10px;
  margin-left: 40px;
}

.company {
  background: white;
  border-radius: 10px;
  margin: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: ". . ." ". . .";
  text-align: center;
}

#footerwrap {
  width: 100%;
  float: left;
  margin: 0 auto;
  clear: both;
}

.create {
  margin-bottom: 10px;
  margin-top: 40px;
}

.submit,
.thecartbtn,
.userNameLogout > button,
.account {
  border: 1px solid black;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.submit:hover {
  background: linear-gradient(to bottom, #77a809 5%, #89c403 100%);
  background-color: #77a809;
}
.submit:active {
  position: relative;
  top: 1px;
} */

.buttonz {
  width: 100%;
}
.makethataccount,
.fullwidth {
  width: 100%;
}
.header {
  /* width: 150%; */
  /* display: flex;
  flex-wrap: wrap; */
  height: 200px;
  background: #ff6633;
  border-radius: 10px;
  /* border: 1px solid #eb521f; */
  align-items: center;
  justify-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  border: 5px solid black;
  /* margin: 5px; */
}
.logout {
  margin-left: 50px;
}
.submit,
.thecartbtn,
.userNameLogout > button,
.logout,
.account {
  border: 1px solid black;
  box-shadow: inset 0px 1px 0px 0px #a4e271;
  background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
  background-color: #89c403;
  border-radius: 6px;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 10px;
  font-weight: bold;
  padding: 2px 24px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #528009;
}
.body,
.page,
.name,
.address,
.phone {
  width: 100%;
  /* border: 50px solid black */
}

.miscitems {
  width: 15px;
}
.company {
  border: 10px solid black;
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  /* width: 100%; */
  align-items: center;
  justify-content: center;
  text-align: center;
}
.allco {
  display: flex;
  flex-wrap: wrap;
  background: #fff957;
  border: 1px solid black;
  /* width: auto; */
  margin-top: 1px;
  margin-bottom: 1px;
}
.qty-minus {
  margin: 10px;
}

.check {
  margin: 6px;
}

.numericgloves,
.numericrags {
  width: 75px;
}
.app {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* background: #ff6633; */
}
body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;

  justify-content: center;
  text-align: center;
  /* background: #ff6633; */
}
.root {
  background-color: white;
}
.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  height: 250px;
  background: #ff6633;
  position: sticky;
  top: 0;
}

.userNameLogout,
.thecartbtn {
  display: inline-flex;
}

.td,
.cod,
.userNameLogout,
.userNameLog {
  width: 100%;
}

.form-input,
.form-input-last {
  width: 100%;
  height: 75px;
  display: flex;
  flex-wrap: wrap;
}
/* .form-input-last {
    margin-bottom: 200px;
    padding-bottom: 200px;
  } */
.ps {
  width: 100%;
}
.submit {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  margin-left: 45%;
  /* flex-direction: column; */
  justify-content: center;
  text-align: center;
  align-items: center;
}
.userNameLog {
  background: #fff957;
  margin: 25px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
button {
  margin: 5px;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.account {
  margin-left: 90px;
  margin-right: 90px;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.form-input {
  border: 1px solid black;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* PHONE */
@media only screen and (max-device-width: 480px) {
  .header {
    width: 100%;
    height: 200px;
    background: #ff6633;
    border-radius: 10px;
    border: 1px solid #eb521f;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* margin: 5px; */
  }
  .submit,
  .thecartbtn,
  .userNameLogout > button,
  .account {
    border: 1px solid black;
    box-shadow: inset 0px 1px 0px 0px #a4e271;
    background: linear-gradient(to bottom, #89c403 5%, #77a809 100%);
    background-color: #89c403;
    border-radius: 6px;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    padding: 2px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #528009;
  }

  .miscitems {
    width: 15px;
  }
  .company {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .allco {
    display: flex;
    flex-wrap: wrap;
    background: #fff957;
    border: 1px solid black;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 1px;
  }
  .qty-minus {
    margin: 10px;
  }

  .check {
    margin: 6px;
  }

  .numericgloves,
  .numericrags {
    width: 75px;
  }
  .app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: #ff6633; */
  }
  body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;

    justify-content: center;
    text-align: center;
    /* background: #ff6633; */
  }
  .root {
    background-color: white;
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    height: 250px;
    background: #ff6633;
    position: sticky;
    top: 0;
  }

  .userNameLogout,
  .thecartbtn {
    display: inline-flex;
  }

  .td,
  .cod,
  .userNameLogout,
  .userNameLog {
    width: 100%;
  }

  .form-input,
  .form-input-last {
    width: 100%;
    height: 75px;
    display: flex;
    flex-wrap: wrap;
  }
  /* .form-input-last {
    margin-bottom: 200px;
    padding-bottom: 200px;
  } */
  .ps {
    width: 100%;
  }
  .submit {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .userNameLog {
    background: #fff957;
    margin: 25px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  button {
    margin: 5px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }

  .account {
    margin-left: 90px;
    margin-right: 90px;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .form-input {
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}

/* TABLET */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  .app {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: #ff6633; */
  }
  body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background: #ff6633; */
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    width: 97%;
    height: 100px;
    background: #ff6633;
  }

  .form-input {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .ps {
    width: 100%;
  }
  .submit {
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    margin-left: 140px;
    /* flex-direction: column; */
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  .form-input {
    border: 1px solid black;
    margin-top: 1px;
    margin-bottom: 1px;
  }
}
